* {
    font-family: Geneva, Tahoma, sans-serif
}

.NavBar {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
}


img {
    width: 20rem;
    padding: 8px;
    border-radius: 8%;
}


form {    
    display: grid;
    gap: .5rem;
    grid-template-columns: auto 1fr;
    max-width: 300px;
    margin: 0 auto;
}


.property-list {
    display: grid;
    gap: 1rem;
    height: 38rem;
    overflow-y: scroll;
    width: 100%;

    background-color: #1f1c32;
    color: white;
}


.property-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.base-card {
    text-align: center;
}

.elem-col-span-4 {
    grid-column: span 4;
}

.elem-col-span-2 {
    grid-column: span 2;
}

.card-details {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}


.no-edit {
    background-color: silver;
}


.submitButton {
    grid-column: span 2;
    background: #1f1c32;
    color: white;
}

.portfolio-view {
    display: grid;
    grid-template-areas: 
        'totals'
        'cards';
}

.portfolio-totals {
    grid-area: totals;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    
    background-color: #1f1c32;
    color: white;
}

.portfolio-cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: #1f1c32;
    color: white;
}

.about-main {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    font-family: Apercu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.167;
}

.about-main span {
    color: rgb(0, 197, 241);
}


/* LOGO */
.logo {
    background-color: #1f1c32;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 5%;
}
  
.logo span {
    font-size: 5vw;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}
  
.logo span:not(:first-child) {
    margin-left: -0.15em;
}
